table,th,tr,td{
    border: solid 1px black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 13px;
   
}
.Table-Row{
    display: flex;
    margin: 10px;
}
.Next-weekButton{
    width: fit-content;
    height: fit-content;
}

.Week-Button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px
}

.WeekButton{
    width: fit-content;
}