.ApplicationTopLayer {
    background: #EBFBFF;
    

}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
}



.file-input {
   margin: 10px;
   padding: 10px;
    height: 40px;
  text-align: center;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 7px;
  color: black;
    
}

