

.Employ-Details {
    border: solid 1px black;
    padding: 10px;
    border-radius: 6px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    
}

.New{
    color: blue;
    text-decoration: none;
    font-size: 10px !important;
}

.SearchBar{
    text-align: center;
}


.WarningMsg {
    color: red;
    text-align: center;
}

.TimeSheet-Input {
    background: #EBFBFF;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    padding: 20px;
    border: solid 1px black;
    
}

.AdminLogo {
    height: 150px;
    display: flex;
}

.Employee-Details {
    border: solid 1px black;
    padding: 10px;
    border-radius: 6px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20px;
    
    
}

.Login-Button {
    width: fit-content;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-self: center;
    font-weight: bold;
    text-decoration: none;
  
}

.Dash-Board{
    display: flex;
    flex-direction: column;

}

.EmploysInfoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Arrow{
    height: 30px;
}
.DashBoard-FirstLayer{
    background-color: lightgreen;
    font-size: 24px;
    padding: 20px;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    text-align: center;
    height: fit-content;
    overflow: auto;
}
.EmploysInfoTag{
    font-size: 17px;
}
.Admin-green{
    height: 100px;
}
.Input-Value{
    text-align: center;
    margin: 8px;
}
.Admin-FirstBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}
.Registraion-Button{
    width: fit-content;
    text-decoration: none;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    color: white;
}
@media screen and (min-width:767px) {
    .Admin-FirstBlock{
        display: flex;
        flex-direction: column;
    }
    .WarningMsg {
        color: red;
        text-align: center;
    }
    
    .TimeSheet-Input {
        background: #EBFBFF;
        display: flex;
        flex-direction: row;
      justify-content: space-between;
        align-items: center;
        padding: 20px;
       
        
    }
    
    .AdminLogo {
        height: 400px;
        display: flex;
    }
    
    .Employee-Details {
        border: solid 1px black;
       text-align: center;
        padding: 10px;
        border-radius: 6px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-right: 80px;
        
    }
    
    .Login-Button {
        width: fit-content;
        padding: 10px;
        display: flex;
        align-self: center;
        font-weight: bold;
      
    }
}