.HomeTopLayer {
    color: black;
}

.IntroDescription {
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 34.3px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 63px;
    width: 300px;
}

.ClientAssistance {
    width: 160px;
    flex-wrap: wrap;

}

.HomeIntroduction {
    display: flex;
    flex-direction: column;
    top: 252px;
    padding: 30px;
    background: #25AAE1;
}

.AgilewitGreyLogo {
    display: flex;
    align-self: flex-end;
    height: 100px;
}

.Title {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.14px;
    letter-spacing: 0.20em;
    text-align: left;
    color: white;
}

.TitleHeading {
    color: white;
    width: 400px;
    font-size: 50px;
  
}

.TitleDescription {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20.64px;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
}

.LetsWorkTogether {
    color: #25AAE1;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.22px;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 10px;
    width: fit-content;
    background-color: white;
}

.DesktopOptionsIcon {
    display: none;
}

.HomeSecondLayer {
    height: 100vh;
    width: 100vw;
}

.HomeOptionsIcon {
    display: none;
}

.HomePageDescription {

    background: #EBFBFF;
    padding: 35px;
}

.CompanyIdeology {
    font-size: 17px;

}


.logo-container {
    display: flex;
    flex-direction: row;
    animation: scroll 20s linear infinite;
    position: relative;
    width: fit-content;
    height: 120px;
}

.ClientCompanyLogo {
    margin-right: 10px;
    width: 50px;
    filter: grayscale(100%);
}


@keyframes scroll {
    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(-100%);
    }
}





.Services {
    display: flex;
    flex-direction: column;
}

.AgilewitLogoBlue {
    display: none;
}

.Achievements {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #25AAE1;
    padding: 40px;
}

.PartnersOpinion {
    background: #EBFBFF;
    padding: 40px;
}

.PartnerTitle {
    text-decoration: none;
    color: #25AAE1;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

.PartnersOpinionTitle {
    text-align: center;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 15px;
}

.PartnerListForDesktop {
    display: none;
}

.ShareYourIdeaTitle {

    width: 200px;
    flex-wrap: wrap;
}

@media screen and (min-width: 767px) {
    .HomeTopLayer {
        display: flex;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .IntroDescription {
        display: none;
    }

    .HomeIntroduction {
        padding: 40px;
        height: fit-content;
    }

    .ShareYourIdeaTitle {
        width: 400px;
    }

    .AgilewitGreyLogo {
        height: 100px;
    }

    .Title {
        font-size: 22px;

    }

    .logo-container {
        display: flex;
        flex-direction: row;
        animation: scroll 20s linear infinite;
        position: relative;
        width: fit-content;
        height: 120px;
    }

    .ClientCompanyLogo {
        height: 90px;
        width: 100px;
        filter: grayscale(100%);
    }

    .TitleHeading {
        color: white;
        width: 730px;
        flex-wrap: wrap;
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
        font-size: 75px;
        
    }

    .TitleDescription {
        font-size: 20px;
        line-height: 27.22px;
    }

    .LetsWorkTogether {
        background-color: #25AAE1;
        color: white;
        font-size: 27px;
    }

    .HomeSecondLayer {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .DesktopOptionsIcon {
        display: flex;
        align-items: flex-end;
        height: 40px;
    }

    .SubHomeSecondLayer {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .HomeOptionsIcon {
        display: flex;
        margin: 10px;
        height: 150px;
        align-self: flex-end;
    }

    .CompanyIdeology {
        display: flex;
        gap: 90px;
        font-size: 19.5px;
    }

    .IdeaDescription {
        width: 800px;
        text-align: justify;
    }




    .ClientAssistance {
        width: 180px;
    }

    .ServicesList {
        display: flex;
        flex-direction: row;
        overflow-y: auto;
    }

    .Services {
        display: flex;
        flex-direction: row;
    }

    .AgilewitLogoBlue {
        display: flex;
        margin-top: 80px;
        height: 400px;
    }

    .Achievements {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: #25AAE1;
        padding: 40px;
    }

    .PartnersOpinion {
        background: #EBFBFF;
    }

    .PartnersOpinionTitle {
        font-size: 30px;
    }

    .PartnerListForDesktop {
        display: flex;
    }

    .PartnerListForMobile {
        display: none;
    }
}